.line {
    fill: none;
    stroke-width: 2px;
  }
  .yellow {
    stroke: yellow;
  }
  .magenta {
    stroke: magenta;
  }
  .turquoise {
    stroke: turquoise;
  }
  .orange {
    stroke: orange;
  }
  .white {
    stroke: white;
  }
  .silver {
    stroke: grey;
  }
  .green {
    stroke: limegreen;
  }
  .red {
    stroke: red;
  }
  .lightblue {
    stroke: lightblue;
  }
  .coral {
    stroke: coral;
  }
  .brown {
    stroke: brown;
  }
  .pink {
    stroke: pink;
  }
  .black {
    stroke: black;
  }
  .deactivate {
    visibility: hidden;
    display: none;
    pointer-events: fill;
  }
  .deactivate:hover {
    display: none;
    pointer-events: fill;
  }
  .activate {
    opacity: 100;
  }
  .active {
    font-weight: bold;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }
  .active:hover {
    fill: #000;
    cursor: pointer;
  }
  .d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }
  .grid .tick {
    stroke: lightgrey;
    opacity: 0.5;
}
.grid path {
      stroke-width: 0;
}